@import "tailwindcss";
@plugin "@tailwindcss/forms";


:root {
  --background: #ffedd5;
  --text-color: #1e293b;
  --accent-color: #064e3b;
}

@theme inline {
  --color-background: var(--background);
  --text-color: var(--text-color);
  --accent-color: var(--accent-color);
}

html {
    scrollbar-color: var(--accent-color) var(--background);
    scrollbar-width: thin;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: var(--font-roboto-mono);
    font-size: .875rem;
}

h1 {
    color: var(--accent-color);
    font-family: var(--font-domine);
    font-size: 3rem;
}

h2 {
    color: var(--accent-color);
    font-family: var(--font-domine);
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}